[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-allauth = "*"
dj-rest-auth = {version = "*", extras = ["with_social"]}
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
